## Deliverable 3. Create a Travel Itinerary Map.

In [57]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [58]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,78.53,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,Punta Arenas,CL,46.51,broken clouds,-53.1500,-70.9167,Hotel Hain
2,2,Bouar,CF,71.17,scattered clouds,5.9340,15.5960,Motel de l'UNITE
3,3,Castro,BR,65.55,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
4,4,Ushuaia,AR,40.62,light rain,-54.8000,-68.3000,Albatross Hotel

In [59]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [60]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,78.53,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,Punta Arenas,CL,46.51,broken clouds,-53.1500,-70.9167,Hotel Hain
2,2,Bouar,CF,71.17,scattered clouds,5.9340,15.5960,Motel de l'UNITE
3,3,Castro,BR,65.55,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
4,4,Ushuaia,AR,40.62,light rain,-54.8000,-68.3000,Albatross Hotel

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_trip_df = vacation_df.drop(columns = 'City_ID').set_index(['City'], drop = 0)
vacation_start = vacation_trip_df.loc[['Brawley']]
vacation_end = vacation_trip_df.loc[['Brawley']]
vacation_stop1 = vacation_trip_df.loc[['Deming']]
vacation_stop2 = vacation_trip_df.loc[['Gallup']] 
vacation_stop3 = vacation_trip_df.loc[['Lompoc']]

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[4], vacation_start.to_numpy()[5])
end = (vacation_end.to_numpy()[4], vacation_end.to_numpy()[5])
stop1 = (vacation_stop1.to_numpy()[4], vacation_stop1.to_numpy()[5])
stop2 = (vacation_stop2.to_numpy()[4], vacation_stop2.to_numpy()[5])
stop3 = (vacation_stop3.to_numpy()[4], vacation_stop3.to_numpy()[5])

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
travel_layer =  gmaps.directions_layer(
                start, end, waypoints=[stop1, stop2, stop3],
                travel_mode='BICYCLING')
fig.add_layer(travel_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
#itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Brawley,US,88.05,clear sky,32.9787,-115.5303,Brawley Inn Hotel & Conference Center
1,Deming,US,78.69,clear sky,32.2687,-107.7586,Best Western Deming Southwest Inn
2,Gallup,US,62.44,broken clouds,35.5281,-108.7426,El Capitan Motel
3,Lompoc,US,80.56,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))